.exercise1 {
    height: 70px;
    border: 1px solid blue;
}
.exercise2 {
    height: 70px;
    border: 1px solid blue;
}
.exercise3 {
    height: 70px;
    border: 1px solid blue;
}
.exercise4 {
    height: 200px;
    border: 1px solid blue;
}